<link rel="stylesheet" type="text/css" href="style.css">

<div class="container">
	<h1>Welcome {{user.username}}</h1>

{{#if user}}

    <a href="/logout">LogOut</a>
	<a href="/search">Search</a>
{{/if}}</div>

	<div class="public">
		<h3>Create your own Emoji Story</h3>
		<form action="/createstory" method="post">
	 		<input type="publictext" name="name" value="Noun1"><br>
			
			<input type="submit" value="Submit">
		</form>
	</div>

<!--<button class="newJoke">New Joke</button>-->


{{#each stories}}
    <li data-storyId="{{this._id}}">TITLE: {{this.title}} <br> LINES: {{this.lines}} <br> ADJECTIVES: {{this.adjectives}} <br> VERBS: {{this.verbs}} <br> NOUNS: {{this.nouns}} <button class="remove" >delete</button></li>
{{/each}}  
