<link rel="stylesheet" type="text/css" href="style.css">


<div class="public">

	<h1 class="userWelcome"> Welcome {{user.username}}</h1>

	{{#if user}}

	<a class="logOut" href="/logout">LogOut</a>
	<a class="searchStories" href="/search">Search</a>
	{{/if}}
	<h3>Create an Emoji Story</h3>
	<form class="user-words" method="post">
		<input class="user-nouns" type="publictext" name="name" placeholder="Enter a noun" data-word="nouns"><br>
		<input class="user-verbs" type="publictext" name="name" placeholder="Enter a verb" data-word="verbs"><br>
		<input class="user-adjectives" type="publictext" name="name" placeholder="Enter an adjective" data-word="adjectives"><br>
		<input type="submit" value="Submit">
	</form>

</div>
<div class="addButtons">
	<button class="addNoun">Add Noun</button>
	<button class="addVerb">Add Verb</button>
	<button class="addAdjective">Add Adjective</button>
</div>
<!--<button class="newJoke">New Joke</button>-->
{{{html}}}

{{#each stories}}
<li class="listedStories" data-storyId="{{this._id}}">
	<div class="lines">
		{{{this.formattedLines}}}
	</div>
	<br>
	<button class="saveStory">Save</button>
	<button class="remove">Delete</button>

	<!--<div class="title story">{{this.title}}</div>
	<div class="lines story">{{this.lines}}</div>
	<div class="nouns story">{{this.nouns}}</div>
	<div class="verbs story">{{this.verbs}}</div>
	<div class="adjectives story">{{this.adjectives}}</div>
	-->
</li>
{{/each}}